<ngx-ui-loader></ngx-ui-loader>
<div class="container">
  <div class="page-title fs-3 mb-2">Liste des matchs </div>
  <div class="row mt-3">
    <div class="col-12">
      <button class="btn-blue" (click)="navigateToMatch()"><i class="mdi mdi-plus pt-5"></i>Nouveau</button>
    </div>
  </div>
  <div class="row mt-3">
      <table class="col-12">
        <tr class="thead-custom">
          <th>&Eacute;quipe 1</th>
          <th>&Eacute;quipe 2</th>
          <th>Date</th>
          <th>&Eacute;tat</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let match of matches">
          <td>{{match.equipe1.nom}}</td>
          <td>{{match.equipe2.nom}}</td>
          <td>{{match.date}}</td>
          <td>{{match.etat}}</td>
          <td>
            <i class="mdi mdi-pencil pt-5 action"></i>
            <i class="mdi mdi-eye pt-5 action"></i>
          </td>
        </tr>
      </table>
  </div>
</div>
